:root {
	--color-neutral-light:#F2F2F2;  /*已改*/
	--color-neutral-medium:#707070;  /*已改*/
	--color-neutral-dark:#353535;  /*已改*/

	--color-main-light:#B2C5D9; /*已改*/
	--color-main-medium:#2A6AA3; /*已改*/
	--color-main-dark:#08435c;

	--color-alt-light:#F4E9E4; /*已改 粉色*/
	--color-alt-medium:#07aff5;
	--color-alt-dark:#27055c;

	--color-warning:#CB8B12;  /*已改*/
	--color-error:#d90c63;
	--color-purchase:#C92811; /*已改*/
}


.body-text-thin {
	font-family:Roboto, sans-serif;
	font-weight:100;
	/*background-color: var(--color-neutral-light);*/
}
.body-text-light {
	font-family:Roboto, sans-serif;
	font-weight:300;
	/*background-color: var(--color-neutral-light);*/
}
.body-text-regular {
	font-family:Roboto, sans-serif;
	font-weight:400;
	/*background-color: var(--color-neutral-light);*/
}

.heading-bold {
	font-family:Montserrat, sans-serif;
	font-weight:700;
}
.heading-medium {
	font-family:Montserrat, sans-serif;
	font-weight:500;
}


/*
.body {
	margin-top:3em;
	margin-bottom:3em;
}*/


.navbar {
    background-color: var(--color-neutral-light);
    color:var(--color-neutral-dark);
}


.logo {
	max-width: 120px;
}


.view-window .slogan {
	position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fbfbfb61;
    padding: 1em;
    border-radius: 0.5em;
    color: #c71818;
    font-size: 2em;
    width: 80%;
    line-height: 100%;
    transition: all 0.3s;
}

.slogan:hover {
	box-shadow: 1px 1px 12px rgba(0,0,0,0.4);
}


/*.article-body>h3 {
color:#ff6700;
}*/


.button {
	width:10em;
	height:3em;
	margin-bottom: 2em;
	border-radius: 0.2em;
	border:none;
	background-color: #ff6700;
}
.button>a {
	font-size:1.5em;
	color:white;
}

.nav.pills.price a {
    	background-color:var(--color-main-medium);
    	color: var(--color-white);
    	text-align: center;
    }
.nav.pills.price a:hover {
    	background-color: var(--color-alt-medium);
    	text-decoration: none;
    }

hr {
	margin-top:2em;
    border: 0.1px solid #bbbcbd;
    width: 90%;
}

footer {
	text-align:center;
	margin-bottom: 3em;
	}





/*module 03*/
[class*='col-']>.well {
	height:100%;
}

/* Product List Design */
.product-item {
	margin: 0;
	border-radius: 0.7em;
	background-color: white;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
	padding:1em;
	transition: all 0.3s;
}
.product-item:hover {
	box-shadow: 1px 1px 12px rgba(0,0,0,0.4);
}

.product-image img {
	max-width: 100%;
}
/*
a:hover .product-item {
	text-decoration: none;

}*/
.product-price {
	font-size: 1.2em;
	padding: 0.2em 0.4em;
}
.product-title {
	font-size: 0.9em;
	padding: 0.2em 0.4em;
}





@media (max-width:600px) {
	h2 {
		font-size:1em;
	}
}