:root {
	--color-neutral-light:#F2F2F2;  /*已改*/
	--color-neutral-medium:#707070;  /*已改*/
	--color-neutral-dark:#353535;  /*已改*/
	--color-main-light:#d7e8fa9c; /*已改*/
	--color-main-medium:#2A6AA3; /*已改*/
	--color-main-dark:#08435c;
	--color-alt-light: #ffdecf; /*已改 粉色*/
	--color-alt-medium:#07aff5;
	--color-alt-dark:#27055c;
	--color-warning:#CB8B12;  /*已改*/
	--color-error:#d90c63;
	--color-purchase:#C92811; /*已改*/
}

body {
	font-family:Roboto, Arial,sans-serif;
	font-weight:400;
}
.body-text-thin {
	font-family:Roboto, sans-serif;
	font-weight:100;
	/*background-color: var(--color-neutral-light);*/
}
.body-text-light {
	font-family:Roboto, sans-serif;
	font-weight:300;
	/*background-color: var(--color-neutral-light);*/
}
.body-text-regular {
	font-family:Roboto, sans-serif;
	font-weight:400;
	/*background-color: var(--color-neutral-light);*/
}

.heading-bold {
	font-family:Montserrat, sans-serif;
	font-weight:700;
}
.heading-medium {
	font-family:Montserrat, sans-serif;
	font-weight:500;
}

.well {
	background-color: var(--color-main-light);
}

/*
.body {
	margin-top:3em;
	margin-bottom:3em;
}*/


.navbar {
    background-color: var(--color-neutral-light);
    color:var(--color-neutral-dark);
}


.logo {
	max-width: 120px;
}


.view-window .slogan {
	position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fbfbfb61;
    padding: 1em;
    border-radius: 0.5em;
    color: #c71818;
    font-size: 2em;
    width: 80%;
    line-height: 100%;
    transition: all 0.3s;
}

.slogan:hover {
	box-shadow: 1px 1px 12px rgba(0,0,0,0.4);
}

.btn.sell {
       color:var(--color-white);
       border:1px solid var(--color-purchase);
}

.btn.sell .secondary {
        background-color: var(--color-alt-light);
        border:1px solid var(--color-purchase);
        color: var(--color-purchase);
}

.btn.border {
	border:1px solid var(--color-neutral-dark);
}

.btn.color-option {
/*	border:1px solid var(--color-neutral-dark);*/
	background-color: var(--color-main-medium);
	color: var(--color-white);
}

.btn-numbox {
	display: inline-block;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--color-alt-light);
    font-size: 18px;
    line-height: 30px;
    color: var(--color-neutral-dark);
 }

.btn-numbox-subtract {
	float: left;
    height: 30px;
    width: 40px;
    text-align: center;
    cursor: pointer;
}
.btn-numbox-number {
	float: left;
    height: 30px;
    width: 40px;
    text-align: center;
}

.btn-numbox-plus {
	float: left;
	height: 30px;
    width: 40px;
    text-align: center;
    cursor: pointer;
}

.table.striped tbody tr:nth-child(odd) {
    background-color: var(--color-main-light);
}

.toggle label {
	background-color: var(--color-main-medium);
    border:0.1em solid var(--color-main-light);
}

/*.btn:hover {
    text-decoration: none;
    background-color: var(--color-alt-light);
    border: 2px solid var(--color-purchase);
    color:var(--color-neutral-dark);
}*/

/*.article-body>h3 {
color:#ff6700;
}*/


/*.button {
	width:10em;
	height:3em;
	margin-bottom: 2em;
	border-radius: 0.2em;
	border:none;
	background-color: #ff6700;
}
.button>a {
	font-size:1.5em;
	color:white;
}*/

/*.nav.pills.price a {
    	background-color:var(--color-main-medium);
    	color: var(--color-white);
    	text-align: center;
    }
.nav.pills.price a:hover {
    	background-color: var(--color-alt-medium);
    	text-decoration: none;
    }
*/
hr {
	margin-top:2em;
    border: 0.1px solid #bbbcbd;
    width: 100%;
}

footer {
	text-align:center;
	margin-bottom: 3em;
	}





/*module 03*/
[class*='col-']>.well {
	height:100%;
}

/* Product List Design */
.product-item {
	/*margin: 0;*/
	margin: 1em;
	border-radius: 0.2em;
	background-color: white;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
	/*padding:1em;*/
	transition: all 0.3s;
}
.product-item:hover {
	box-shadow: 1px 1px 12px rgba(0,0,0,0.4);
}

.product-image img {
	max-width: 100%;
}

.product-description {
	height:5rem;
}
.product-price {
	font-size: 1.2em;
	padding: 0.2em 0.4em;
	color: var(--color-main-medium);
}
.product-title {
	font-size: 0.9em;
	padding: 0.2em 0.4em;
}







@media (max-width:600px) {
	h2 {
		font-size:1em;
	}
}